*{
    text-decoration: none !important;
    margin: 0;
    padding: 0;
}
.container{
    background-color: lightblue !important;
}
h1{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #222;
}
.containerProjeto{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0px !important;
    padding-bottom: 20px !important;
}
.cardProjeto{
    width: 520px;
    height: 560px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    position: relative;
    background-color: #ccc;
    padding: 5px;
}
.nomeElink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.logoProjeto{
    height: 280px;
}
.nomeProjeto{
    font-weight: bold !important;
    color: #333;
    margin-top: 8px !important;
}
.numeroGrupo{
    color: #222;
    background-color: lightblue;
    padding: 3px 6px;
    border-radius: 2px;
    display: inline-block;
}
.a{
    display: flex;
}
span{
    width: 10px;
    height: 50px;
    background-color:rgb(45, 116, 139);
    margin-right: 5px;
    border-radius: 2px;
}
.btnProjeto{
    cursor: pointer;
    background-color: rgb(45, 116, 139);
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .9;
    transition: .4s;
}
.btnProjeto:hover{
    opacity: 1;
}
.pitProjeto{
    margin-top: 10px !important;
    max-height: 100%;
}
.btnOptions{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}
.btnOptions img{
    width: 22px;
    height: 22px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
    border: .5px solid #ccc;
    opacity: .6;
    transition: .4s;
    cursor: pointer;
}
.btnHover:hover{
    opacity: 1;
}